div {
	margin: 0;
	height: 100vh;
	.container {
		display: grid;
		max-width: 720px;
		margin: auto;
		min-height: 100vh;
		.header {
			margin-top: 1rem;
			&__title {
				text-align: center;
				color: rgb(245, 167, 22);
			}
		}

		&__footer {
			line-height: 4rem;
			text-align: center;
			opacity: 0.4;
		}
	}
}
