@if (isTimerFinished && !isWin) {
	<div class="message-finished">
		<p>You lost 😔, game time is over.</p>
	</div>
	<button class="button--reload" (click)="reloadBoard()">Reset Game</button>
}

@if (isWin) {
	<div>
		<button class="button--reload" (click)="reloadBoard()">Play again</button>
		<app-message></app-message>
	</div>
}

<div class="container">
	<app-timer></app-timer>
	<section class="board">
		@for (card of deckService.getDeck(); track card) {
			<button
				(click)="!isTimerFinished && cardAction(card)"
				[style]="card.isPaired ? 'background-color:rgb(255, 106, 0)' : ''">
				<article class="card">
					@if (card.isFleep) {
						<img
							class="card__image card__image--transition"
							[src]="card.image"
							[alt]="card.name" />
					} @else {
						<img
							class="card__image card__image--transition"
							src="/assets/fondodbz.webp"
							alt="image" />
					}
				</article>
			</button>
		}
	</section>
</div>
