@if (isTimerFinished && !isWin) {
	<div class="message-finished">
		<p>Perdiste 😔, termino el tiempo de juego</p>
	</div>
	<button class="button--reload" (click)="reloadBoard()">Reiniciar</button>
}

<app-message></app-message>
<div class="container">
	<app-timer></app-timer>
	<section class="board">
		@for (card of deckService.getDeck(); track card) {
			<button
				(click)="!isTimerFinished && cardAction(card)"
				[style]="card.isPaired ? 'background-color:rgb(161, 209, 89)' : ''">
				<article class="card">
					@if (card.isFleep) {
						<img class="card__image" [src]="card.image" [alt]="card.name" />
					} @else {
						<img class="card__image" src="/assets/portrait.jpg" alt="image" />
					}
				</article>
			</button>
		}
	</section>
	<section class="quote">
		<app-quote></app-quote>
	</section>
</div>
